<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="https://github.com/GabrielOS019">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Sou um homenzinho -->  
    <marquee
    bgColor="#f00" direction="up">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, voluptatibus?
    </marquee>

    <marquee
    bgColor="#ff0" direction="down">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, facere.
    </marquee>

    <marquee
    bgColor="#0ff" direction="left">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur, labore.
    </marquee>

    <marquee
    bgColor="#00f" direction="right">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, ea!
    </marquee>

</body>
</html>
